.titleContent{
font-family:  'Arial Narrow Bold', sans-serif;
text-align: center; 
display: flex;
justify-content: center;
width: 45ch;
margin: 0px auto 60px auto;
padding: 50px;
background-color: #ffffff;
}