
  .btngreen {
    background-color: #97c93e;
    color: white;
  }
  
  .btngreen:hover {
    background-color: #82ad36;
  }
  #header{
  background: linear-gradient(90deg,#000000,#395566 75%, black);
  }
  
  #header img {
    width: 60px;
  }
  
  #main .carousel-inner img {
    max-height: 50vh;
    object-fit: cover;
    filter: grayscale(40%);
  }
  
  #carousel {
    position: relative;
  }
  
  #carousel .overlay {
    position: absolute;
    top: 1%;
    bottom: 1%;
    left: 0%;
    right: 7S%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  #carousel .overlay .container,
  #carousel .overlay .row {
    height: 100%;
  }
  
  #contact{
    background: linear-gradient(90deg,gray,black 70%);
    color: white;
  }
  
  #contact img {
    max-width: 55vh;
    text-align: center;
    margin-top: 1px;
    margin-left: 15px;
    margin-right: 1px;
    margin-bottom: 1px; 
    filter: grayscale(50%);
    filter: sepia(20%);
    filter: brightness(75%);
  }
  
  #footer {
    background: linear-gradient(90deg,#080f13,#273b47 50%, #080f13);
  }
  
  #footer a {
    color: white;
  }
  
  #addproduct{
    background: linear-gradient(180deg,rgb(218, 218, 218),rgb(176, 189, 250) 20%, white 90%);
  }
 
  #text_our_product{
    background: linear-gradient(178deg,white,rgb(182, 182, 182) 50%, white 100%);
  }

  .nav-link{
    text-emphasis-color: blue;
  }

  #btnprev{
    filter: brightness(80%); 
    /*pongo esto porque sino no se ve el btn*/
    }
  
  .myol{
    font-size: 1.7vw;
  }
  

  @keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }}

  .IconCody {
  border-radius: 50%;
}

.snowfall-cont {
  position: relative;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 80%;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200vh);
  }
}
