.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
a {
    color:rgb(2, 39, 39)
}

.inicio {
    background: linear-gradient(120deg, #6297b8, #d4e7f3 90%, #395566);
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: aliceblue;
}

.texto_form {
    color: rgb(6, 55, 99);
}