 
.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
a {
    color:rgb(2, 39, 39)
}

.body {
    background-image: url("antartidafondoPNG5.png");
    background-size:cover;
    background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
    height: 1000px;
    display: flex;
    justify-content: left;
    gap: 1rem;
    

}

.inicio {
    height: 800px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: rgb(2, 46, 85);
}

.texto_form {
    color: rgb(2, 45, 83);
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left {
    padding-right: 10px;
}
.right {
    padding-left: 10px;
}