section {
   width: 100%;
   justify-content: flex-start;
   align-content: stretch;
   align-items: center;
   flex-direction: row;

}

.mensaje-inicio {

    justify-content: flex-start;
    align-items:flex-end;
    align-content: space-around;
    text-align: right;
    height: 120px;
    width: 600px;
    flex-direction: column;
    display: flex;
    margin-bottom: 10%;
    margin-left: 13%;
}
